body{
    font-family: 'Times New Roman', Times, serif;
    margin : 2;
    padding : 2;
    box-sizing : border-box;
    background-color: rgb(8, 8, 43);

}

.mail{
    max-width: 800px;
    margin : 20px auto;
    background-color: white;
    padding: 20px;
    border: 10px solid black;

}


header h1{
    color: black;
    text-align: centre;
}

.content {
    margin-top: 20px;
}
.content ul{
    color: black;
}


.content p {
    color : black;
    line-height: 1.5;
}

.contact-info {
    margin-top: 20px;
}

.contact-info p {
    color: black;
    margin: 0;
}

.contact-info strong {
    color: black;
}

#viewPdfButton {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 300px;
    font-size: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    white-space: nowrap;
}

#viewPdfButton:hover {
    background-color: #0056b3; /* Change background color on hover */
}