body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.mail {
  max-width: 400px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
  background-color: rgb(187, 210, 239);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header h1 {
  color: black;
  text-align: centre;
}

.content {
  margin-top: 20px;
}
.content ul {
  color: black;
}

.content p {
  color: black;
  line-height: 1.5;
}

.contact-info {
  margin-top: 20px;
}

.contact-info p {
  color: black;
  margin: 0;
}

.contact-info strong {
  color: black;
}

#viewPdfButton {
  background-color: #007bff;
  color: #fff;
  width: 100%;
  padding-block: 10px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  white-space: nowrap;
}

#viewPdfButton:hover {
  background-color: #0056b3; /* Change background color on hover */
}
